@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
}

.login_header {
    font-size: 30px;
}

.login_form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #323232;
    color: #FAFAFA;
    position: absolute;
    top: 45%;
    left: 50%;
    height: 340px;
    margin-top: -150px;
    width: 400px;
    margin-left: -200px;
    border-radius: 30px;
}

.login_form td {
    display: block;
}

.account_form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #323232;
    color: #FAFAFA;
    position: absolute;
    top: 45%;
    left: 50%;
    height: 460px;
    margin-top: -150px;
    width: 400px;
    margin-left: -200px;
    border-radius: 30px;
}

.signup_form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #323232;
    color: #FAFAFA;
    position: absolute;
    top: 45%;
    left: 50%;
    height: 430px;
    margin-top: -175px;
    width: 400px;
    margin-left: -200px;
    border-radius: 30px;
}

.login_btn {
    outline: 0px;
    border:none;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #FAFAFA;
    background-color: #bb86fc;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 4.875px 10px 4.875px 10px;
    transition: background-color 0.5s cubic-bezier(.25,.8,.25,1), box-shadow 0.3s;
}

.signup_btn {
    border: none;
    margin-left: 40px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    height:20px;
    font-weight: bold;
    font-size: 15px;
    color: #FAFAFA;
    background-color: #bb86fc;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 3.5px 10px 3.5px 10px;
    transition: background-color 0.5s cubic-bezier(.25,.8,.25,1), box-shadow 0.3s;
}

.effect:hover {
    background-color: #6200EE;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.effect:focus {
    background-color: #3700B3;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.effect:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.popup{
    color: #03DAC6;
}

.login_error{
    color: #FF7597;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myaccount_btn {
    border: none;
    margin-left: 40px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    height:20px;
    font-weight: bold;
    font-size: 15px;
    color: #FAFAFA;
    background-color: #bb86fc;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 3.5px 10px 3.5px 10px;
    transition: background-color 0.5s cubic-bezier(.25,.8,.25,1), box-shadow 0.3s;
}

.pages {
    position: fixed;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -98%);
}

.page_number a {
    color: white;
}

.page_number {
    border: none;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    height:20px;
    font-weight: bold;
    font-size: 15px;
    color: #FAFAFA;
    background-color: #bb86fc;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 2px 5px 2px 5px;
    /*margin: 2px;*/
    transition: background-color 0.5s cubic-bezier(.25,.8,.25,1), box-shadow 0.3s;
}

input[type=email] {
    background-color: transparent;
    border-width: 0px 0px 2px 0px;
    border-color: #6200EE;
    color: #FF7597;
    font-size: 18px;
    text-align: center;
    transition: border-bottom-color 0.3s ease-out;
}

input[type=email]:focus {
    border-bottom-color: #3700B3;
    outline: 0px;
}

input[type=password] {
    background-color: transparent;
    border-width: 0px 0px 2px 0px;
    border-color: #6200EE;
    color: #FF7597;
    font-size: 18px;
    text-align: center;
    transition: border-bottom-color 0.3s ease-out;
}

input[type=password]:focus {
    border-bottom-color: #3700B3;
    outline: 0px;
}

input[type=text] {
    background-color: transparent;
    border-width: 0px 0px 2px 0px;
    border-color: #6200EE;
    color: #FF7597;
    font-size: 18px;
    text-align: center;
    transition: border-bottom-color 0.3s ease-out;
}

input[type=text]:focus {
    border-bottom-color: #3700B3;
    outline: 0px;
}

#bara {
    background-color: #323232;
    color: #FAFAFA;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    #font-family: sans-serif;
}

#lista {
    background-color: #323232;
    border-radius: 30px;
    color: #FAFAFA;
    border-spacing: 0px 0px;
    text-align: center;
    width: 100%;
}

#lista tbody tr td {
    border-color: #121212;
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    margin-top: 0px;
}

#lista tbody tr td:first-child {
    border-width: 0px 2px 0px 0px;
}

#lista tbody tr td:last-child {
    border-width: 0px 0px 0px 2px;
}

#lista thead {
    background-color: transparent;
    color: #fafafa;
    border-color: yellow;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    font-weight: bold;
    text-align: center;
}

#lista thead tr td{
    border-color: #121212;
    border-style: solid;
    /*border-right: dashed;*/
    /*border-right-color: #121212;*/
    /*border-left: dashed;*/
    /*border-left-color: #121212;*/
    /*border-width: 0px 2px 4px 2px;*/
    border-width: 0px 0px 4px 0px;
}

/*#lista thead tr td:first-child {*/
/*    border-width: 0px 2px 4px 0px;*/
/*}*/

/*#lista thead tr td:last-child {*/
/*    border-width: 0px 0px 4px 2px;*/
/*}*/

#lista2 {
    background-color: #fff9fc;
    color: #000000;
    text-align: center;
    #font-family: sans-serif;
}